@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


:root {
    --font1:'Teko', sans-serif;
    --font2:'Montserrat', sans-serif;
    --font3:'Abril Fatface', serif;
}

header {
    background: url('../imagens/layoutbeans.png') fixed;
    background-size: 100%;
    box-shadow: inset 2px 5px 10px black;
}
header > h1 {
    text-align: center;
    font: 200 30px var(--font1);
    color: white;
    height: 90px;
    padding-top: 40px;
}

#infos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px;
    text-align: center;
    line-height: 15px;
}
#infos > span > img {
    width: 40px;
}
#infos > span > h1 {
    font: 800 10px var(--font2) ;
    color: black;
    padding-bottom: 4px;
}
#infos > span > p {
    color: rgb(122, 122, 122);
    font: 800 6px var(--font2);
    line-height: 10px;
}

#drop {
    text-align: center;
}
#drop > h1 {
    font: 400 30px var(--font1);
}
#drop > img {
    width: 120px;
}
#drop > p {
    font: 600 10px var(--font2);
    color: rgb(122, 122, 122);
    padding-bottom: 30px;
    margin: 0px 13px;
}


#userInfo {
    text-align: center;
}
#userInfo > input {
    background-color: transparent;
    border: 1px solid rgb(122, 122, 122);
    font: 500 14px var(--font1);
    margin: 10px;
    padding: 10px 145px 7px 7px;
    color: rgb(122, 122, 122);
}
#userText { 
    text-align: center;
}
#userText > textarea {
    background-color: transparent;
    border: 1px solid rgb(122, 122, 122);
    font: 500 14px var(--font1);
    margin: 10px;
    padding: 10px 7px 0px 7px;
    color: rgb(122, 122, 122);
}
#subm {
    text-align: center;
}
#subm > input {
    background-color: #C09457 ;
    border: 0px;
    color: white;
    font: 400 14px var(--font1);
    letter-spacing: 1.5px;
    padding: 6px 16px;
    margin-bottom: 30px;
    cursor: pointer;
}

#map {
    background: url('../imagens/maplocate.png') center no-repeat;
    background-size:cover;
    height: 220px;
    box-shadow: inset 0px 2px 5px black;
}