/* Principal tab */

div#titlelayout {
    position: fixed;
    color: #b8b5a1;
    font-size: 70px;
    font-family: var(--font3);
}

#logoweb > h1 {
    font-family: var(--font2);
    font-weight: 400;
    color: #523727;
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}

#line {
    text-align: center;
}

#line > img {
    width: 130px;
}

#centerweb {
    background: url('../imagens/coffee.png') center no-repeat;
    background-size: 300px;
}

#container {
    background: url('../imagens/mobilet-beans.png') center no-repeat;
    background-size: 260px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#container > h2 {
    font-family: var(--font2);
    font-weight: 300;
    font-size: 15px;
    padding-top: 80px;
}

#cupcenter {
    width: 150px;
}

div#operation {
    display: block;
    height: 200px;
    text-align: center;
    margin-top: 40px;
    
}

div#operation > h2 {
    font-family: var(--font1);
    font-weight: 400;
    font-size: 17px;
    padding: 5px;
    
}

div#operation > p {
    font-family: var(--font1);
    font-weight: 400;
    font-size: 13px;
    padding: 5px;
}

/* Story tab */

#ajuststory {
    background: url('../imagens/cup-layout.png') no-repeat;
    background-position: right bottom ;
    background-size: 50px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

#story {
    text-align: center;
    margin-top: -30px;
}

#story > h1 {
    
    font-family: var(--font1);
    color: #333333;
    font-weight: 500;
    text-align: center;
}

#story > p {
    font: 100 15px var(--font1);
    line-height: 20px ;
    width: 300px;
}

#story > img {
    width: 100px;
    margin-bottom: 10px;
}